body {
    background-image: url('background2.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.avlogo{
    background-image:url("avlogo.png");
    background-size: contain;
    position: absolute;
    top: 50px;
    left: 72px;
    width: 98px;
    height: 108px;
}

.headerattop{
    width: fit-content;
    margin: auto;
    margin-top: 75px;
    border-left: 120px solid transparent;
    font-size: 50px;
    font-family: 'Poppins';
    font-weight: bolder;
    user-select: none;
    background: linear-gradient(60deg, #833ab4, #fd1d1d, #fcb045);
    background-size: 200% 200%;
    animation: rainbow 5s ease-in infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(255, 255, 255, 1);
    transition: color .3s ease-in-out;
}

.avlogo:hover + .headerattop {
     color: rgba(0,0,0,0);
}
   
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
    
.box{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 450px;
    border-radius: 35px;
}


.container{
    display: flex;
    max-width: 1100px;
    margin: auto;
    margin-top: 13vh;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container1{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.container2{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.container3{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.headerforsections{
    position: absolute;
    width: 200px;
    height: 40px;
    margin-top: 23px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: inherit;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.admin{
    width: 240px;
}

.sectiontext{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: inherit;
    width: 200px;
    height: 40px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
}

.text1{
    margin-top: 110px;
}

.text2{
    margin-top: 190px;
    width: fit-content;
}

.text3{
    margin-top: 270px;
}

.text4{
    margin-top: 350px;
}

.righttext1{
    margin-top: 110px;
}

.righttext2{
    margin-top: 230px;
}

.righttext3{
    margin-top: 350px;
}

.sectiontext:hover{
    text-decoration: underline;
    font-weight: 400;
}


a:link {
    text-decoration: none;
}

.logoutfunc{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.logout{
    position: absolute;
    font-family: 'Poppins';
    font-weight: bolder;
    color: #FFFFFF;
    line-height: 50px;
    vertical-align: top;
    font-size: 22px;
    top: 2vh;
    left: 89vw;
}

.logout::after{
    color:#FFFFFF;
    margin-left: 10px;
    content: '\f2f5';
    font-family: "Font Awesome 5 Free";
    font-size:22px;
}

.fas{
    position: absolute;
    font-size: 22px;
    line-height: 50px;
    vertical-align: top;
    top: 2vh;
    left: 95vw;
    color: #FFFFFF;
}

